:root {
  --scroll-bg: #111111;
  --scroll-thumb: #f1f1f126;
  --nav-bg: #111111;
  --nav-text: #f1f1f1aa;
  --text: #f1f1f1;
  --hello: #ffad7e;
  --presentation: #103341;
  --border-c: #f1f1f12a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--nav-bg);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scroll-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f172;
}

nav {
  position: fixed;
  width: 100%;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  z-index: 10;
  padding: 1rem 15rem;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--nav-text);
  padding: 8px;
  transition: color 0.25s ease-out;
}

.home-img {
  width: 4rem;
  display: block;
}

.mobile-menu {
  height: 100%;
  display: none;
  
}

.mobile-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.mobile-menu-button img {
  width: 5rem;
  display: block;
}

.desktop-options ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.mobile-options {
  display: none;
  padding: 8px;
  text-transform: uppercase;
  color: var(--nav-text);
  transition: color 0.25s ease-out;
  text-decoration: none;
  font-size: 2rem;
  margin-top: var(--nav-height);
  position: fixed;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--border-c);
  width: 100%;
  z-index: 10;
}

.mobile-options a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--nav-text);
  padding: 8px;
  transition: color 0.25s ease-out;
}

.mobile-options ul {
  display: none;
  flex-direction: column;
  list-style-type: none;
  justify-content: end;
  align-items: center;
}

.mobile-options ul li {
  padding: 8px;
}

nav a:hover {
  color: var(--text);
}

nav ul li {
  padding: 8px;
  text-transform: uppercase;
  color: var(--nav-text);
  transition: color 0.25s ease-out;
  text-decoration: none;
}

nav ul li:hover {
  color: var(--text);
}

header {
  width: 100%;
  height: 80%;
  padding: 8rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: var(--nav-bg);
  margin-top: var(--nav-height);
}

.scale-50 {
  transform: scale(50%);
  opacity: 0%;
}

.scale-100 {
  transform: scale(100%);
  opacity: 100%;
  transition: all 500ms ease-in-out;
}

.presentation-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.presentation-text {
  text-align: left;
  color: var(--text);
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3rem;
}

.presentation-hello {
  font-size: 8rem;
  background: -webkit-linear-gradient(#eee, #333);
  background-image: linear-gradient(to right, #30cfd0 0%, #485C75 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation-name {
  font-size: 5rem;
}

.presentation-description {
  font-size: 2.4rem;
  color: var(--nav-text);
}

.presentation-img {
  display: flex;
}

.presentation-img > img {
  width: 35rem;
  display: block;
}

.presentation-social {
  display: flex;
  gap: 2.4rem;
}

.presentation-social a img {
  width: 3.5rem;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.presentation-social a img:hover {
  filter: grayscale(0%);
}

#about {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--nav-bg);
  color: var(--text);
  width: 100%;
  padding: 8rem 15rem;
  overflow-x: hidden;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 60%;
}

.about-title {
  font-size: 3.6rem;
}

.about-text {
  font-size: 1.6rem;
  text-align: justify;
}

.about-techs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 30%;
}

.about-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.about-buttons button {
  background-color: var(--nav-bg);
  border: none;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: color 500ms ease;
}

:where(.text-light, .text-white){
  margin-bottom: 0.5rem;
}

.text-light {
  color: var(--nav-text);
  transition: all 300ms;
}

.text-white{
  color: var(--text);
}

.text-white-hover:hover {
  color: var(--text);
}

.about-techs .about-buttons button:hover {
  color: var(--text);
}

.show-blw-line {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to left, #30cfd0 0%, #485C75 75%);
  transition: width 300ms;
}

.hide-blw-line {
  width: 0%;
  height: 3px;
}

.about-fill {
  display: flex;
  height: 100%;
}

.about-list {
  width: 100%;
  display: grid;
  column-gap: 1rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
}

.tech-li {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border: 2px solid var(--border-c);
  border-radius: 10px;
  padding: 2rem;
  background-color: #1a1a1a;
}

.tech-li img {
  width: 6rem;
  display: block;
}

.edu-li {
  font-size: 1.6rem;
  list-style-position: inside;
}

.ml-3 {
  margin-left: 3rem;
}

.xs-text {
  font-size: 1.2rem;
  line-height: 1rem;
}

section#projects {
  padding: 8rem 15rem;
  background-color: var(--nav-bg);
  color: var(--text);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.projects-grid {
  width: 100%;
  display: grid;
  row-gap: 5rem;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-hidden {
  transform: translateY(50%);
  opacity: 0;
}

.projects-show {
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.border-radius-above {
  border-radius: 20px 20px 0 0;
}

.border-radius-below {
  border-radius: 0 0 20px 20px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.from-left {
  transform: translateX(-70%);
  opacity: 0;
}

.from-right {
  transform: translateX(70%);
  opacity: 0;
}

.show {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease-in;
}

.habits {
  background-image: url(../assets/habits.PNG);
}

.ouse {
  background-image: url(../assets/ouse.PNG);
}

.churrascometro {
  background-image: url(../assets/churrascometro.PNG);
}

.jogo-memoria {
  background-image: url(../assets/jogo-memoria.png);
}

.calculadora {
  background-image: url(../assets/calculadora.png);
}

.login-form {
  background-image: url(../assets/loginform.png);
}

.card-img {
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-overlay {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a80;
}

.overlay-img {
  border: 2px solid var(--text);
  text-decoration: none;
  padding: 1rem;
  border-radius: 50%;
  opacity: 50%;
  transition: opacity 300ms;
}

.overlay-img:hover {
  opacity: 1;
}

.overlay-img img {
  width: 4rem;
  display: block;
}

.card-description {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #1a1a1a;
}

.card-description h5 {
  font-size: 2rem;
  font-weight: 500;
}

.card-description p {
  font-size: 1.4rem;
  font-weight: 300;
}

#contact {
  background-color: var(--nav-bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 15rem;
  margin: 3rem 0;
}

.contact-text {
  font-size: 1.6rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-text ul {
  display: flex;
  gap: 2rem;
}

.contact-text ul li {
  list-style-type: none;
}

.contact-text ul li img {
  width: 5rem;
}

.contact-button {
  width: 30%;
}

.contact-button a {
  width: 100%;
  height: 40px;
  background-color: rgb(21 128 61);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 4px 6px rgba(0, 167, 57, 0.247);
  transition: box-shadow 300ms;
  text-decoration: none;
}

.contact-button a:hover {
  box-shadow: 0px 0px 4px 12px rgba(0, 167, 57, 0.247);
}

.contact-button a img {
  height: 60%;
  display: block;
}

footer {
  display: flex;
  width: 100%;
  height: 70px;
  border-top: 1px solid var(--border-c);
  background-color: var(--nav-bg);
  align-items: center;
  color: var(--nav-text);
  font-size: 1.6rem;
  justify-content: space-between;
  padding: 0 15rem;
}

.half-opacity {
  opacity: 0.5;
  transition: all 300ms;
}

.half-opacity:hover {
  opacity: 1;
}

@media (max-width: 601px) {
  html {
    font-size: 30%;
  }

  #about {
    flex-direction: column;
    gap: 10rem;
  }

  #about > div {
    width: 100%;
  }

  .presentation-container {
    flex-direction: column;
    gap: 5rem;
  }

  .presentation-container > div {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu {
    display: block;
  }

  .desktop-options {
    display: none;
  }

  .mobile-options {
    display: none;
  }

  .mobile-options ul {
    display: flex;
    height: 100%;
  }

  #contact {
    flex-direction: column;
    gap: 10rem;
  }

  .contact-text {
    width: 100%;
  }

  .contact-text ul {
    justify-content: center;
  }

  .contact-button {
    width: 100%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .from-left {
    transform: translateX(-50%);
  }

  .from-right {
    transform: translateX(50%);
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #about {
    flex-direction: column;
    gap: 10rem;
  }

  #about > div {
    width: 100%;
  }

  .presentation-container {
    flex-direction: column;
    gap: 5rem;
  }

  .presentation-container > div {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu {
    display: block;
  }

  .desktop-options {
    display: none;
  }

  .mobile-options {
    display: none;
  }

  .mobile-options ul {
    display: flex;
    height: 100%;
  }

  #contact {
    flex-direction: column;
    gap: 10rem;
  }

  .contact-text {
    width: 100%;
  }

  .contact-text ul {
    justify-content: center;
  }

  .contact-button {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 40%;
  }

  #about {
    flex-direction: column;
    gap: 10rem;
  }

  #about > div {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 70%;
  }

  body {
    padding: 0 20rem;
  }

  nav {
    position: static;
  }
}

